mixin catalog-accordion(categories)
    .catalog-accordion__wrap.js-catalog-accordion
        .catalog-accordion
            .catalog-accordion__close
                button.hamburger.hamburger--collapse.js-catalog-accordion-close.is-active
                    span.hamburger-box
                        span.hamburger-inner
            .catalog-accordion__inner
                .catalog-accordion__top
                    .catalog-accordion__title=categories.title
                for item in categories.blocks
                    nav.catalog-accordion__block.catalog-accordion__dropdown.js-dropdown(class=item.active ? 'active' : '')
                        .catalog-accordion__name.js-dropdown-name=item.name
                        .catalog-accordion__dropdown-block.js-dropdown-block
                            if item.list
                                ul.catalog-accordion__list
                                    for link in item.list
                                        li.catalog-accordion__item(class=link.active ? 'active' : '')
                                            a(href="#")=link.name