include ../select/select
include ../select-quantity/select-quantity
include ../rating/rating

mixin product-pic(productPic)
    .product-pic
        .product-pic__top
            if productPic.markerList
                .product-pic__marker-list
                    for marker in productPic.markerList
                        .product-pic__marker(class=marker.type)=marker.text
            .product-pic__slider-main.js-product-slider-main
                for mainSlide in productPic.mainSlider
                    a(href=mainSlide.img data-fancybox="product").slide
                        img(src=mainSlide.img alt='')
        .product-pic__bottom
            .product-pic__slider-nav.js-product-slider-nav
                for miniSlide in productPic.miniSlider
                    .slide
                        img(src=miniSlide.img alt='')

mixin product-top(productOption)
    .product-top
        .product-top__inner
            .product-top__option-list
                for option in productOption
                    .product-top__option(class=option.active ? 'active' : '')
                        a(href='#')
                            img(src=option.img)

mixin product-box(productBox)
    .product-box
        .product-box__top
            .product-box__inner
                .product-box__title=productBox.title
                .product-box__inner-right
                    .product-box__article=productBox.article
                    +rating(productBox.rating)
            .product-box__commercial
                .product-box__price=ruble(productBox.price)
                .product-box__balance
                    .product-box__balance-value=`${productBox.balance} шт`
                    .product-box__balance-text на складе

            if productBox.props
                ul.product-box__info
                    for prop in productBox.props
                        li.product-box__prop
                            .product-box__prop-name=`${prop.name}:`
                            .product-box__prop-value=prop.value
        .product-box__actions
            .product-box__size
                +select(productBox.size, 'size')
            .product-box__quantity
                +select-quantity(productBox.quantityCurrent, productBox.quantity)
        .product-box__bottom
            .product-box__bottom-half
                .product-box__sum.js-product-detail-sum=ruble(productBox.quantityCurrent * productBox.price)
            .product-box__bottom-half
                button.btn.btn-basket В корзину

mixin product-desc
    .product-desc
        .product-desc__title Описание
        .product-desc__content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, omnis, tempore! Accusamus aperiam consequatur deleniti enim est fuga fugit id laudantium, provident repellendus. Amet asperiores magnam nihil repellendus unde voluptates.
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias asperiores blanditiis consectetur dignissimos dolor, dolore ea et eveniet excepturi laboriosam laborum maxime officiis quasi sit temporibus totam unde velit!
        .product-desc__media
            .product-desc__media-video
                img(src="img/product-detail/product-media-video.png")
            .product-desc__media-container
                img(src="img/product-detail/product-media-container.png")
            .product-desc__media-container
                img(src="img/product-detail/product-media-container.png")
